<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
        <title>About me</title>
    </head>
<body>
<nav><a href="/">Home Page</a></nav>
<h1>Short Summary</h1>

<p>
    I am a 2nd year CS student Majoring in Software Engeneering.
    My gitHub is sam-lotm <a href=https://github.com/sam-lotm>Link Text</a>
    My projects so far are
</p>
<ul>
<li>PortfolioPage</li>
<li>ConsolePython</li>
<li>BankProject</li>
</ul>
</body>
</html>